body {
 background-image: url("https://media1.giphy.com/media/114ugL1hv5p8He/giphy.gif");
 /*top*/
 /*  center;*/
}

h1 {
  color: black;
  text-align:center;
  font-size:700%;
  font-family: 'Krona One', sans-serif;
}

.menu {
  font-size: 200%;
  color: black;
  background-color: white;
}

.about-us {
  font-size: 300%;
  color: black;
  background-color: white;
}